test-append
test-append-debug
test-append-f
test-append-f-debug
test-append-float
test-append-float-debug
test-append-int
test-append-int-debug
test-append-uint
test-append-uint-debug
test-prepend
test-prepend-debug
test-prepend-f
test-prepend-f-debug
test-prepend-float
test-prepend-float-debug
test-prepend-int
test-prepend-int-debug
test-prepend-uint
test-prepend-uint-debug
test-new-no-grow
test-new-no-grow-debug
test-trim
test-trim-debug
test-oom
test-oom-debug
test-avail
test-avail-debug

###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.la
*.lo
*.log
*.trs
*.tar.*
*.gch
coverage_html/
coverage.info
*.gcda
*.gcno

################
# autotools junk
################
.libs/
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
.deps/
.dirstamp
libtool
m4/
stamp-h1
